
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    background: none repeat scroll 0 0 #3C3C3C;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.4s ease 0s;
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
}
.sidebar-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    display: inline-block;
    line-height: 65px;
    margin: 0 0 0 20px;
}
#menu-toggle {
    display: none;
}
.inset {
    padding: 20px;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#header-container {
    width: 100%;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-image: linear-gradient(to bottom, #222222 0%, #3C3C3C 100%);
    background-repeat: repeat-x;
    background-color: #333333;
    border-color: #333333;
}

#sidebar-wrapper .sidebar-nav {
    position: static;
}


#new-project {
    margin-top: 50px;
    cursor: pointer;
    color: #999999;
    font-size: 14px;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
}

#new-project:hover,
#sidebar-wrapper .sidebar-nav li:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    z-index: 1100;
    background-image: linear-gradient(to bottom, #3C3C3C 0%, #222222 100%);
    background-repeat: repeat-x;
    height: 50px;
    clear:both;
    padding-top:20px;
    color:#fff;
    border-top: 1px solid #333333;
}

#sidebar-wrapper .sidebar-nav li {
    cursor: pointer;
    font-size: 14px;
    color: #999999;
}
